<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Первый сайт</h1>
<p>Сегодня учимся отправлять данные из формы</p>
<form action="/" method="post">
    <label for="message">Сколько мне заплатишь</label>
    <textarea id="message" name="message" rows="1" cols="10">1_000_000Р</textarea>
    <button type="submit">Отправить</button>
</form>

    {% if recommendation %}
    <div class="result">
        <h3>Вот ваш ответ:</h3>
        <P>{{ recommendation }}</P>
    </div>
{% endif %}
</body>
</html>